body{
	font-family: 'Times New Roman',sans-serif;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
.wrapper{
	background-color: #feeac0;
	padding-bottom: 95px;
	min-height: 100%;
	height: auto;
}
.container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.header{
	width: 100%;
	background-color: #18698c;
	height: 90px;
	min-width: 1000px;
}

.logo{
	background-image: url(../images/logo-bg.png);
	background-repeat: no-repeat;
	width:425px;
	height: 367px;
	position: absolute;
	left: -110px;
	top: -100px;
	z-index: 2;
}
.nav{
	margin-left: 320px;
	padding-top: 35px;
	font-size: 20px;
	font-family: 'Times New Roman',sans-serif;
	font-style: italic;
}
	.logo a{
		position: relative;
		left: 150px;
		top: 120px;
	}
	.nav ul li{
		float: left;
		margin-right: 35px;
	}
		.nav ul li:last-child{
			margin-right: 0;
		}
			.nav ul li a{
				text-decoration: none;
				color: #feeac0;
				border-bottom:2px solid transparent;
				-webkit-transition: 0.2s border-bottom ease-in-out;
				-o-transition: 0.2s border-bottom ease-in-out;
				transition: 0.2s border-bottom ease-in-out;
			}
				.nav ul li a:hover{
					border-bottom:2px solid #a7b1a7;
				}
			.nav ul li a.price-link{
				font-weight: bold;
				color: #fff;
			}
				.nav ul li a.price-link:hover{
					border-bottom: 2px solid transparent;
				}
.slide{
	height: 410px;
	background-color: #18698c;
	border-radius: 0 0 20px 20px;
	background-image: url(../images/slide.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
	.slide-img{
		position: absolute;
		right: -62px;
		top: 8%;
	}
	.slide-text{
		position: absolute;
		left: 30px;
		bottom:30px;
		font-family: 'Times New Roman',sans-serif;
		font-size: 20px;
		color: #fefefe;
		font-style: italic;
	}

.block{
	padding-top: 20px;
}
.breadcrumbs{
	margin-top: 30px;
}
	.breadcrumbs ul li{
		display: inline-block;
		font-size: 15px;
		color: #3a3734;
		font-family: 'Times New Roman',sans-serif;
		font-style: italic;
	}
		.breadcrumbs ul li a{
			color: #3a3734;
			text-decoration: none;
		}
			.breadcrumbs ul li:last-child{
				text-decoration: underline;
			}
			.bread-arrow{
				display: inline-block;
				width: 5px;
				height: 5px;
				background: url(../images/bread.png);
				position: relative;
				top: -1px;
			}
.icon-img{
	width: 170px;
	height: 165px;
	background-repeat: no-repeat;
}
	.territory{
		background-image: url(../images/ter.png);
	}
	.rooms{
		background-image: url(../images/rooms.png);
	}
	.cabinet{
		background-image: url(../images/cabin.png);
	}
	.barbecue{
		background-image: url(../images/barbecue.png);
	}
	.fishing{
		background-image: url(../images/fishing.png);
	}
.icon-block{
	float: left;
	margin: 10px 13px;
}
	.icon-block p{
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		font-style: italic;
		color: #3a3734;
	}
.left-text{
	float: left;
}
.left-text>.text{
	width: 260px;
	height: 317px;
	background: url(../images/bg-text-1.png);
	padding: 10px;
	font-size: 18px;
	color: #3a3734;
	font-style: italic;
	margin-left: 100px;
}
.right-text{
	float: left;
	
}
.right-text>.text{
	padding: 16px;
	font-size: 18px;
	color: #3a3734;
	font-style: italic;
	background: url(../images/bg-text-1.png) no-repeat 99% -6px;
	width: 545px;
	margin-left: 80px;
}
.content-text{
	margin-top: 10px;
}
.footer-nav{
	height: 50px;
	background-color: #8bbbd4;
}
	.footer-nav ul li{
		display: inline-block;
		font-size: 18px;
		margin-right: 30px;
	}
		.footer-nav ul li a{
			text-decoration: none;
			color: #18698c;
			font-style: italic;
		}
			.footer-nav ul li a:hover{
				text-decoration: underline;
			}
		.footer-nav nav{
			position: relative;
			float: right;
			right: 50%;
			margin-top: 17px;
		}
		.footer-nav nav ul{
			  position: relative;
			  float: left;
			  left: 50%;
			}
.footer-bottom{
	height: 150px;
	background-color: #18698c;
}
.block{
	float: left;
	font-family: 'Times New Roman',sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #ffdebb;
	margin-left: 43px;
}
.copyright{
	font-size: 16px;
	font-style: italic;
	color: #ffdebb;
	text-align: center;
	margin-top: 15px;
}
.footer-bottom .container .block:first-child p span{
	float: right;
}
	.footer-bottom .container .block:first-child,.footer-bottom .container .block:nth-child(3){
		padding-top: 50px;
	}
.questions{
	margin-top: 10px;
}
.ques-block{
	margin-left: 110px;
	padding-bottom: 25px;
	margin-bottom: 10px;
	padding-right: 10px;
	background: url(../images/bg-comment.png)no-repeat;
	background-position: 100% 100%;
}
.name{
	font-size: 24px;
	font-style: italic;
	color: #18698c;
}
.date{
	display: inline-block;
	padding: 4px 5px;
	font-size: 15px;
	color: #feeac0;
	background-color: #18698c;
	font-style: italic;
	-webkit-border-radius: 4px;
	-moz-webkit-border-radius: 4px;
	-ms-webkit-border-radius: 4px;
	-o-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 5px;
}
.comment{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #3a3734;
	margin-left: 15px;
	margin-top: 5px;
}
.admin-comment span{
	text-transform: uppercase;
}
.admin-comment{
	font-size: 18px;
	font-style: italic;
	color: #3a3734;
	margin-left: 15px;
	margin-top: 20px;
}
.contacts-block h4,.maps h4{
	font-size: 24px;
	font-style: italic;
	color: #18698c;
}
	.contacts-block p{
		font-size: 18px;
		font-style: italic;
		color: #3a3734;
		padding-left: 25px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
.contacts-block{
	background: url(../images/bg-text-1.png)no-repeat;
	width: 255px;
	float: left;
	background-position: 100% 100%;
	padding-bottom: 20px;
	padding-right: 10px;
	margin-left: 110px;
}
.maps{
	float: left;
	margin-left: 30px;
}
.ymaps-map{
	border: 1px solid #5f3d18 !important;
}
.maps-block{
	margin-left: 10px !important;
	margin-top: 5px !important;
}
.fishing-slide{
	background-image: url(../images/fish.jpg);
}
.title{
	font-size: 51px;
	font-style: italic;
	color: #fff;
	position: absolute;
	right: 40px;
	bottom: 30px;
}
.main-gallery h4{
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color: #18698c;
}
	.main-gallery h4 span{
		font-weight: bold;
		font-size: 24px;
	}
.photo{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 104px;
	height: 104px;
	background: url(../images/blue.png);
}
	.photo-bbg{
		background: url(../images/bg-bbq.png);
	}
.photo-block{
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
}
.gallery{
	width: 630px;
	margin: 25px auto;
}
.gallery .photo-block:first-child, .gallery .photo-block:nth-child(6){
	margin-left: 0;
}
.main-gallery{
	margin-top: 20px;
	padding-bottom: 80px;
}
.icon-gallery{
	margin-top: 5px;
}