body{
	font-family: 'Times New Roman',sans-serif;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
.wrapper{
	background: #bcdbf0; /* Old browsers */
	background: -moz-linear-gradient(top,  #bcdbf0 0%, #fffff9 10%, #ffecc5 29%, #feeac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcdbf0), color-stop(10%,#fffff9), color-stop(29%,#ffecc5), color-stop(100%,#feeac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcdbf0 0%,#fffff9 10%,#ffecc5 29%,#feeac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcdbf0 0%,#fffff9 10%,#ffecc5 29%,#feeac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcdbf0 0%,#fffff9 10%,#ffecc5 29%,#feeac0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bcdbf0 0%,#fffff9 10%,#ffecc5 29%,#feeac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdbf0', endColorstr='#feeac0',GradientType=0 ); /* IE6-9 */
	padding-bottom: 50px;
	min-height: 100%;
	height: auto;
	min-width: 1000px;
}
footer{
	min-width: 1000px;
}
.container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.header{
	width: 100%;
	background-color: #18698c;
	height: 90px;
	min-width: 1000px;
}

.logo{
	background-image: url(../images/logo-bg.png);
	background-repeat: no-repeat;
	width:425px;
	height: 367px;
	position: absolute;
	left: -110px;
	top: -100px;
	z-index: 3;
}
.nav{
	margin-left: 320px;
	padding-top: 35px;
	font-size: 20px;
	font-family: 'Times New Roman',sans-serif;
	font-style: italic;
}
	.logo a{
		position: relative;
		left: 150px;
		top: 120px;
	}
	.nav ul li{
		float: left;
		margin-right: 35px;
	}
		.nav ul li:last-child{
			margin-right: 0;
		}
			.nav ul li a{
				text-decoration: none;
				color: #feeac0;
				border-bottom:2px solid transparent;
				-webkit-transition: 0.2s border-bottom ease-in-out;
				-o-transition: 0.2s border-bottom ease-in-out;
				transition: 0.2s border-bottom ease-in-out;
			}
				.nav ul li a:hover{
					border-bottom:2px solid #a7b1a7;
				}
			.nav ul li a.price-link{
				font-weight: bold;
				color: #fff;
			}
				.nav ul li a.price-link:hover{
					border-bottom: 2px solid transparent;
				}
.slide{
	height: 410px;
	background-color: #18698c;
	border-radius: 0 0 20px 20px;
	background-image: url(../images/slide.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}
	.slide .title-img{
		width: 100%;
		-webkit-border-radius: 0 0 20px 20px;
		-moz-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
	}
	.num-img{
		background-image: none;
	}
	.slide-img{
		position: absolute;
		right: -62px;
		top: 8%;
	}
	.slide-text{
		position: absolute;
		left: 30px;
		bottom:30px;
		font-family: 'Times New Roman',sans-serif;
		font-size: 20px;
		color: #fefefe;
		font-style: italic;
	}

.block{
	padding-top: 20px;
}
.breadcrumbs {
	  margin-top: 33px;
	  padding-left: 26px;
}
	.breadcrumbs ul li{
		display: inline-block;
		font-size: 15px;
		color: #3a3734;
		font-family: 'Times New Roman',sans-serif;
		font-style: italic;
	}
		.breadcrumbs ul li a{
			color: #3a3734;
			text-decoration: none;
		}
			.breadcrumbs ul li:last-child{
				text-decoration: underline;
			}
			.bread-arrow{
				display: inline-block;
				width: 5px;
				height: 5px;
				background: url(../images/bread.png);
				position: relative;
				top: -1px;
			}
.icon-img{
	width: 170px;
	height: 165px;
	background-repeat: no-repeat;
}
	.territory{
		background-image: url(../images/ter.png);
	}
	.rooms{
		background-image: url(../images/rooms.png);
	}
	.cabinet{
		background-image: url(../images/cabin.png);
	}
	.barbecue{
		background-image: url(../images/barbecue.png);
	}
	.fishing{
		background-image: url(../images/fishing.png);
	}
.icon-block{
	float: left;
	margin: 10px 13px;
}
	.icon-block p{
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		font-style: italic;
		color: #3a3734;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		margin-top: 6px;
	}
	.icon-block a{
		text-decoration: none;
	}
		.icon-block a:hover p{
			text-decoration: underline;

		}
.left-text{
	float: left;
}
.left-text>.text{
	width: 260px;
	background: url(../images/bg-text-1.png) no-repeat 99% 99%;
	padding: 10px;
	font-size: 18px;
	color: #3a3734;
	font-style: italic;
	margin-left: 100px;
	padding-bottom: 30px;
	padding-right: 20px;
}
.right-text{
	float: left;
	
}
.right-text>.text{
	padding: 16px;
	font-size: 18px;
	color: #3a3734;
	font-style: italic;
	background: url(../images/bg-text-1.png) no-repeat 99% 99%;
	padding-bottom: 20px;
	padding-right: 20px;
	width: 547px;
	margin-left: 43px;
}
.left-text>.text, .right-text>.text{
	position: relative;
	top: -20px;
}
.content-text{
	margin-top: 10px;
}
.footer-nav{
	height: 50px;
	background-color: #8bbbd4;
}
	.footer-nav ul li{
		display: inline-block;
		font-size: 18px;
		margin-right: 30px;
	}
		.footer-nav ul li a{
			text-decoration: none;
			color: #18698c;
			font-style: italic;
		}
			.footer-nav ul li a:hover{
				text-decoration: underline;
			}
		.footer-nav nav{
			position: relative;
			float: right;
			right: 50%;
			margin-top: 17px;
		}
		.footer-nav nav ul{
			  position: relative;
			  float: left;
			  left: 50%;
			}
.footer-bottom{
	height: 150px;
	background-color: #18698c;
}
.block{
	float: left;
	font-family: 'Times New Roman',sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #ffdebb;
	margin-left: 43px;
}
.copyright{
	font-size: 16px;
	font-style: italic;
	color: #ffdebb;
	text-align: center;
	margin-top: 15px;
}
.footer-bottom .container .block:first-child p span{
	float: right;
}
	.footer-bottom .container .block:first-child,.footer-bottom .container .block:nth-child(3){
		padding-top: 50px;
	}
.questions{
	margin-top: 10px;
	padding-bottom: 100px;
}
.ques-block{
	margin-left: 110px;
	padding-bottom: 34px;
	margin-top: 4px;
	margin-bottom: 10px;
	padding-right: 10px;
	background: url(../images/bg-comment.png)no-repeat;
	background-position: 100% 100%;
}
.name{
	font-size: 24px;
	font-style: italic;
	color: #18698c;
}
.date{
	display: inline-block;
	padding: 4px 5px;
	font-size: 15px;
	color: #feeac0;
	background-color: #18698c;
	font-style: italic;
	-webkit-border-radius: 4px;
	-moz-webkit-border-radius: 4px;
	-ms-webkit-border-radius: 4px;
	-o-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 5px;
}
.comment{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #3a3734;
	margin-left: 15px;
	margin-top: 4px;
}
.admin-comment span{
	text-transform: uppercase;
}
.admin-comment{
	font-size: 18px;
	font-style: italic;
	color: #3a3734;
	margin-left: 15px;
	margin-top: 21px;
}
.contacts-block h4,.maps h4{
	font-size: 24px;
	font-style: italic;
	color: #18698c;
}
	.contacts-block p{
		font-size: 18px;
		font-style: italic;
		color: #3a3734;
		padding-left: 25px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
.contacts-block{
	background: url(../images/bg-text-1.png)no-repeat;
	width: 255px;
	float: left;
	background-position: 100% 100%;
	padding-bottom: 20px;
	padding-right: 10px;
	margin-left: 110px;
}
.maps{
	float: left;
	margin-left: 30px;
}
.ymaps-map{
	border: 1px solid #5f3d18 !important;
}
.maps-block{
	margin-left: 10px !important;
	margin-top: 5px !important;
}
.fishing-slide{
	background-image: url(../images/fish.jpg);
}
.bbq-slide{
	background-image: url(../images/bbq.jpg);
}
.cabin-slide{
	background-image: url(../images/cabin.jpg);
}
.number-slide{
	background-image: url(../images/number.jpg);
}
.ter-slide{
	background-image: url(../images/ter.jpg);
}
.title{
	font-size: 51px;
	font-style: italic;
	color: #fff;
	position: absolute;
	right: 40px;
	bottom: 30px;
}
.main-gallery h4{
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color: #18698c;
}
	.main-gallery h4 span{
		font-weight: bold;
		font-size: 24px;
	}
.photo{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 104px;
	height: 104px;
	background: url(../images/blue.png);
}
	.photo-bbg{
		background: url(../images/bg-bbq.png);
	}
	.photo-cabine{
		background: url(../images/bg-cabine.png);
	}
	.photo-number{
		background: url(../images/bg-number.png);
	}
	.photo-ter{
		background: url(../images/bg-ter.png);
	}
.photo-block{
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
}
.gallery{
	width: 630px;
	margin: 25px auto;
}
.gallery .photo-block:first-child, .gallery .photo-block:nth-child(6),.gallery-cabine .photo-block:nth-child(4){
	margin-left: 0;
}
.main-gallery{
	margin-top: 11px;
	padding-bottom: 98px;
}
.icon-gallery{
	margin-top: 5px;
}
.gallery-cabine{
	width: 375px;
}
.gallery-cabine .photo-block:nth-child(6){
	margin-left: 25px;
}
.scheme-img{
	width: 504px;
	height: 358px;
	background: url(../images/scheme.png);
	position: relative;
	margin-top: 25px;
}
.scheme {
	font-size: 18px;
	font-style: italic;
	color: #3a3734;
	padding-left: 32px;
}
b{
	font-weight: bold;
}
.main-gallery-cabine, .scheme{
	float: left;
}
.main-gallery-cabine{
	margin-left: 48px;
	margin-top: 34px;
}
.main-content{
	padding-top: 30px;
}
	.main-gallery-cabine h4{
		text-align: left;
	}
.shadow{
	width: 1170px;
	height: 68px;
	background: url(../images/shadow.png)no-repeat 1px 1px;
	position: absolute;
	margin-top: -37px;
	margin-left: -35px;
}
.right-text img{
	position: relative;
	right: 46px;
}
.other-content{
    padding-top: 22px;
}
.other-wrapper{
	padding-bottom: 8px;
}
.other-questions{
	padding-bottom: 80px;
}
@media (max-width: 1300px){
	.shadow{
		width: 1000px;
		margin-left: 0;
	}
}